<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Edify Conference</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='edify.ico') }}">

	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="static/reset.css">
	<link rel="stylesheet" href="static/styles.css">
	<!-- link rel="stylesheet" href="static/indigo-white.css"> -->
  <link href="static/main.3f6952e4.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="static/green-white.css"> -->
	<!-- <link rel="stylesheet" href="static/red-white.css"> -->
	<!-- <link rel="stylesheet" href="static/grey-white.css"> -->
	<!-- <link rel="stylesheet" href="static/white-indigo.css"> -->
	<!-- <link rel="stylesheet" href="static/white-blue.css"> -->
	<!-- <link rel="stylesheet" href="static/white-grey.css"> -->
	<!-- <link rel="stylesheet" href="static/white-red.css"> -->
	<!-- <link rel="stylesheet" href="static/yellow-black.css"> -->
</head>
<body style="background-color: indigo;">
	<main>
		<div class="intro" style="text-align: center;"><h2 style="color: white;">Welcome to Edify Conference 1.0</h2></div>
		<!-- contact form start -->
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 style="color: white;" class="h3">Registration form</h1>
            </div>
            
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                 <form action="submit_form" method="post" class="reveal-content">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <b><input style="border-radius: 15px;" name="first name" type="first name" class="form-control" id="first name" placeholder="First Name" required></b>
                        </div>
                        <div class="form-group">
                          <b><input style="border-radius: 15px;" name="last name" type="last name" class="form-control" id="last name" placeholder="Last Name" required></b>
                        </div>
                        <div class="form-group">
                          <b><input style="border-radius: 15px;" name="sex" type="sex" class="form-control" id="sex" placeholder="Sex" required></b>
                        </div>
                        <div class="form-group">
                          <b><input style="border-radius: 15px;" name="email" type="email" class="form-control" id="email" placeholder="Email" required></b>
                        </div>
                        <div class="form-group">
                          <b><input style="border-radius: 15px;" name="phone number" type="phone number" class="form-control" id="phone number" placeholder="Phone Number (+234)"></b>
                        </div>
                        <div class="form-group">
                          <b><textarea style="border-radius: 15px;" name="message" class="form-control" rows="5" placeholder="What are your Edify Expectations?" required></textarea></b>
                        </div>
                        <button style="border-radius: 15px;" type="submit" class="btn btn-default btn-lg" style="color: black; background-color: black;">Submit</button>
                      </div>
                      <div class="col-md-5 address-container">
                        <ul class="list-unstyled">
                          <li>
                            <span class="fa-icon">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                            <big style="color: white;">+234 813 404 5950</big>
                          </li>
                          <li>
                            <span class="fa-icon">
                              <i class="fa fa-at" aria-hidden="true"></i>
                            </span>
                            <big style="color: white;">officialedifyconference@gmail.com</big>
                          </li>
                          <li>
                            <span class="fa-icon">
                              <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                            </span>
                            <big style="color: white;">address</big>
      </div>
	</main>
</body>
</html>